body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

nav li {
  display: inline;
  margin: 0 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

:root {
  --primary-color: #2e8b57;
  --secondary-color: #6c757d;
  --light-color: #f8f9fa;
  --dark-color: #343a40;
}

body {
  background-color: var(--light-color);
  text-align: center;
}

h1 {
  background-color: var(--primary-color);
  color: var(--light-color);
}

button {
  background-color: var(--secondary-color);
  color: var(--light-color);
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  text-align: left;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  text-align: left;
  margin-bottom: 10px;
  margin-left: 40px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  text-align: left;
  margin-bottom: 10px;
  margin-left: 13px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin legend {
  text-align: center;
}

.form-signin button {
  margin-left: 118px;
}