extends layout

block content
  header(class="p-3 text-bg-dark d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom")
      div(class="container")
        include nav 
  p #{title}

  main
  p #{errors}
    div 
      form(action='/home/create', method='post', enctype="multipart/form-data")
        fieldset
          legend User Information
          label(for="inputFirstName") First Name 
          input(type="text", id="inputFirstName", name='inputFirstName')
          br
          label(for="inputLastName") Last Name 
          input(type="text", id="inputLastName", name='inputLastName')
          br
          label(for="inputUsername") Username
          input(type="text", id="inputUsername", name='inputUsername')
          br
          label(for="email") Email 
          input(type="email", id="email", name='email')
          br
          label(for="password") Password 
          input(type="password", id="password", name='password')
          br
          label(for="inputPhone") Phone
          input(type="number", id="inputPhone", name='inputPhone')
        
        fieldset 
          legend Image
          label(for='photo_upload') Upload Photo 
          input(name='photo_upload', type='file', id="photo_upload")
          label(for='photo_source') Photo Preview 
          img(id="upload_preview", src='/images/')
          input(id="upload_source" type="text" name="photo_source" readonly="readonly" value="default.jpg")


        
        button(type='submit') Create Account
 
  //-p
  //-label(for="inputDegree") Degree 
  //-input(type="text" id="inputDegree" name="inputDegree")
  
  //-p
  //-label(for="inputGraduateYear") Graduate Year 
  //-input(type="text" id="inputGraduateYear" name="inputGraduateYear") 
  //-p
  //-a(class='button' href='/create') Create Account