extends layout

block content
  header(class="p-3 text-bg-dark d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom")
      div(class="container")
        include nav 

    body
    form(action='/home/' + group +'/feed', method = 'post', id="post-form")
        input(id="content" type="text" autocomplete="off" placeholder="Aa" name="content")
        button(id="post-button" type="submit") Post

    main
        each post in posts
          include templates/post_template.pug