extends layout

block content
    h1= title
    include nav 

    body
    form(action='/home/' + group +'/feed', method = 'post', id="post-form")
        input(id="content" type="text" autocomplete="off" placeholder="Aa" name="content")
        button(id="post-button" type="submit") Post

    main
        each post in posts
          include templates/post_template.pug