extends layout

block content
    header(class="p-3 text-bg-dark d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom")
        div(class="container")
            include nav 
    main
        a(id="post-button" href='/home/create-group') Create Group
        br
        p Your Groups
            each group in yourGroups
                include templates/group_member_template.pug
        br
        br
        br
        br
        br
        br
        br
        br
        br
        p Other Groups
            each group in groups
                include templates/group_template.pug            