extends layout

block content
    h1 title
    include nav 
    main
        a(id="post-button" href='/home/create-group') Create Group
        each group in groups
            include templates/group_template.pug