extends layout

block content
  title Home
  navmenu
  h1= title //So the title is stored under the index.js page in the get home page router method
  p Welcome to #{title} Networking for Otago Students and Alumni