extends layout

block content
  title Home
  navmenu
  //So the title is stored under the index.js page in the get home page router method 
  h1= title 
  p Welcome to #{title} Networking for Otago Students and Alumni