nav
  ul
    li
      a(href='/home/') Home
    if isAuthenticated
      li
        a(href='/home/profile') Profile
      li
        a(href='/home/logout') Logout
    else
      li
        a(href='/home/signin') Login
      li
        a(href='/home/create') Sign up
      li 
        a(href='/home/message') Message