nav
  ul
    if isAuthenticated
      li
        a(href='/home/profile') Profile
      li 
        a(href='/home/message') Message
      li 
        a(href='/home/groups') Groups
      li 
        a(href='/home/main/feed') Feed
      li
        a(href='/home/logout') Logout
    else
      li
        a(href='/home/') Home
      li
        a(href='/home/signin') Login
      li
        a(href='/home/create') Sign up
  if isAuthenticated
    form(action='/home/search', method='get')
      label(for='search') Search
      input(type='text' name='search' id='search' placeholder="search...")
      button(type='submit')
