nav
  ul
    li
      a(href='/') Home
    if isAuthenticated
      li
        a(href='/profile') Profile
      li
        a(href='/logout') Logout
    else
      li
        a(href='/signin') Login
      li
        a(href='/create') Sign up
      li 
        a(href='/message') Message