extends layout 

block content 
    title Home 
    h1= title
    include nav 
    p 
    table.table 
        tr= fname
        br
        tr= lname
        br 
        tr Field of Study 
        br 
        tr Year Graduated
        br 
    br
    a(class='button' href='/message') Message