extends layout

block content
  include nav 
  body
  p(class=h1Classes) Please sign in: 
  p If you do not have an account with us, you can create one below. 

  main
  p #{errors}
  form(class='form-signin', action='/home/signin', method='post')
    div 
        fieldset
          legend User Information
          label(for="inputEmail") Email 
          input(type="email" id="inputEmail" name="inputEmail", class="form-control")
          div
          label(for="inputPassword") Password 
          input(type="password" id="inputPassword" name="inputPassword", class="form-control")
          button(type='submit') Sign In
  p
  a(class='button' href='/create') Create Account