extends layout

block content
  h1= title
  include nav 
  
  body
  p(class=h1Classes) Please sign in: 
  p If you do not have an account with us, you can create one below. 

  main
  p #{errors}
  form(class='form-signin', action='/home/signin', method='post')
    div 
        fieldset
          legend User Information
          label(for="email") Email 
          input(type="email" id="email" name="email", class="form-control")
          div
          label(for="password") Password 
          input(type="password" id="password" name="password", class="form-control")
          button(type='submit') Sign In
  p
  a(class='button' href='/home/create') Create Account